:root {
  --primary-text-color: #181820;
  --secondary-text-color: #5c5c62;
  --durability-text-color: #6a737d9c;
  --icon-color: #6a737d;
  --darkmode-icon-color: #181820;
  --border-color: #346be245;
  --text-decoration-color: #346be2;
  --background-color: #fff;
}